/* css variables */
:root {
  --fuente-principal: Arial, Helvetica, sans-serif;
  --color-blanco: #ffffff;
  --color-fondo: #f8f8f8;
  --color-logo-primario: #ffbf8a;
  --color-logo-secundario: #000000;
  --color-primario: #c09876;
  --color-primario-claro: #d3b194;
  --color-primario-oscuro: #88684b;
  --color-secundario: #ebebeb;
  --color-secundario-claro: #f5f5f5;
  --color-secundario-oscuro: #cacaca;
  --color-peligro: #fb3939;
  --color-peligro-claro: #ff5c5c;
  --color-peligro-oscuro: #b90000;
  --color-exito: #00a151;
  --color-exito-claro: #0dc067;
  --color-exito-oscuro: #008a45;
  --color-info: #21f3f3;
  --color-info-claro: #68ffff;
  --color-info-oscuro: #0dbdbd;
  --color-advertencia: #ffd13b;
  --color-advertencia-claro: #ffea5c;
  --color-advertencia-oscuro: #c9a500;
  --color-texto: #212121;
  --color-texto-claro: #f5f5f5;
  --color-texto-secundario: #757575;
  --color-texto-secundario-claro: #bdbdbd;
  --color-texto-inactivo: #bdbdbd;
  --color-texto-titulo: #212121;
  --color-texto-titulo-claro: #f5f5f5;
  --color-texto-descripcion: #757575;
  --color-texto-descripcion-claro: #bdbdbd;
  --color-texto-enlace: #c05015;
}

/* Layout */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--fuente-principal);
  background-color: var(--color-fondo);
}

.container {
  margin: 0;
  padding: 5px;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 50px;
  grid-auto-columns: 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
      "barra-superior"
      "contenido-principal"
      "pie";
}

.barra-superior,
.barra-menu,
.barra-lateral,
.enlaces,
.pie {
  background-color: var(--color-primario);
  color: var(--color-texto-claro);
  border-radius: 10px;
  padding: 5px 10px;
  z-index: 99;
}

.contenido-principal {
  padding: 0px 5px;
  margin: -5px 0px;
}

.barra-superior {
  grid-area: barra-superior;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 70px;
  margin-left: -10px;
  max-width: 33%;
}

.logo .logo-color1 {
  fill: var(--color-logo-primario) !important;
}

.logo .logo-color2 {
  stroke: var(--color-logo-secundario) !important;
}

.logo .logo-firma {
  fill: var(--color-logo-secundario) !important;
}

.barra-menu {
  grid-area: barra-menu;
}

.barra-lateral {
  grid-area: barra-lateral;
}

.enlaces {
  grid-area: enlaces;
}

.pie {
  grid-area: pie;
}

.contenido-principal {
  grid-area: contenido-principal;
  overflow-y: auto;
  text-align: justify;
}

.google-logo {
  height: 30px;
  margin: 5px !important;
}

/* Elementos de la Interfaz */
.sombra {
  box-shadow: 0px 3px 8px -3px rgba(0, 0, 0, 0.5);
}

.ancho-100{
  width: 100%;
}

.oculto{
  display: none !important;
}

.texto-claro {
  color: var(--color-texto-claro) !important;
}

.texto-grande {
  font-size: 20pt;
}

.boton {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-primario);
  padding: 5px 10px;
  cursor: pointer;
  margin: 10px 2px;
  box-shadow: 0px 3px 8px -3px rgba(0, 0, 0, 0.5);
}

.boton > * {
  margin: 0px 2px;
  vertical-align: middle;
}

.boton.boton-primario {
  background-color: var(--color-primario);
  border-color: var(--color-primario-oscuro);
  color: var(--color-texto-claro);
}

.boton.boton-primario:hover {
  background-color: var(--color-primario-claro);
}

.boton.boton-primario:active {
  background-color: var(--color-primario-oscuro);
}

.boton.boton-secundario {
  background-color: var(--color-secundario);
  color: var(--color-texto);
}

.boton.boton-secundario:hover {
  background-color: var(--color-secundario-claro);
}

.boton.boton-secundario:active {
  background-color: var(--color-secundario-oscuro);
}

.boton.boton-peligro {
  background-color: var(--color-peligro);
  border-color: var(--color-peligro-oscuro);
  color: var(--color-texto-claro);
}

.boton.boton-peligro:hover {
  background-color: var(--color-peligro-claro);
}

.boton.boton-peligro:active {
  background-color: var(--color-peligro-oscuro);
}

.boton.boton-exito {
  background-color: var(--color-exito);
  border-color: var(--color-exito-oscuro);
  color: var(--color-texto-claro);
}

.boton.boton-exito:hover {
  background-color: var(--color-exito-claro);
}

.boton.boton-exito:active {
  background-color: var(--color-exito-oscuro);
}

.boton.boton-info {
  background-color: var(--color-info);
  border-color: var(--color-info-oscuro);
  color: var(--color-texto);
}

.boton.boton-info:hover {
  background-color: var(--color-info-claro);
}

.boton.boton-info:active {
  background-color: var(--color-info-oscuro);
}

.boton.boton-advertencia {
  background-color: var(--color-advertencia);
  border-color: var(--color-advertencia-oscuro);
  color: var(--color-texto);
}

.boton.boton-advertencia:hover {
  background-color: var(--color-advertencia-claro);
}

.boton.boton-advertencia:active {
  background-color: var(--color-advertencia-oscuro);
}

.boton.boton-plano {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  color: var(--color-texto);
}

.boton.boton-plano:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.boton.boton-plano:active {
  background-color: rgba(v0, 0, 0, 0.1);
}
.btn-guardar{
display: none;
}
a {
  text-decoration: none;
  color: var(--color-texto-enlace);
  margin: 5px 5px;
}

hr {
  border-top: 1px solid var(--color-primario-oscuro);
  margin: 10px 0px;
  width: 100%;
}

.formulario {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* margin: 10px; */
  width: 100%;
}

.formulario > fieldset {
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-primario-oscuro);
}

.formulario input,
.formulario select,
.formulario textarea {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-primario);
  background-color: var(--color-blanco);
  padding: 5px 10px;
  margin: 5px 5px;
  margin-bottom: 15px;
}

.tarjeta {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-primario-oscuro);
  background-color: var(--color-blanco);
  padding: 5px 10px;
  margin: 15px 0px;
}

.tarjeta > .tarjeta-encabezado {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--color-primario-oscuro);
}

.tarjeta > .tarjeta-cuerpo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tarjeta > .tarjeta-acciones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* padding: 15px; */
}

.tarjeta img {
  width: 100%;
  border-radius: 15px;
}

.flexible {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flexible-centrado {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Responsive */
@media (max-width: 1024px) {
  .barra-menu{
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .barra-menu > ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
  }

  .barra-menu > ul > li{
      margin: 0px 5px;
      padding: 0;
  }
}

@media (max-width: 720px) {
  .barra-superior {
      position: sticky;
      top: 5px;
  }

  .barra-menu {
      position: sticky;
      top: 90px;
      overflow-x: auto;
  }

  .barra-menu > ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
  }
}
