* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: linear-gradient(to right, #e9912c 0%, #feed00de 100%);
  width: 100%;
  height: 180px;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(120, 121, 122, 0.603);
}

.menu-nav {
  text-decoration: none;
  list-style: none;
}
.menu-nav{
  display: none;
}
.contenedor-template {
  background-color: white;
  width: 100%;
  height: 70%;
}

.contenedor-template h1 {
  text-align: center;
  font-size: 36px;
  align-items: center;
}
.contenedor-template img {
  width: 100%;
  height: 180px;
}
.contenedor-template p {
  text-align: center;
  font-size: 20px;
  color: rgb(27, 16, 2);
}
/* Div del template de inicio y registro*/
.contenedor-central {
  padding: 30px;
  background-color: white;
}
/* Div del formulario de registro*/
.contenedor-form, .form-login {
  width: 400px;
  background-color: rgb(252, 252, 252);
  padding: 30px;
  text-align: center;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(120, 121, 122, 0.603);
}

.contenedor-form .form {
  width: 300px;
  background: rgb(252, 252, 252);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  border: 1px solid #d36a07dc;
}

.form{ /*input del login*/
  width: 300px;
  background: rgb(252, 252, 252);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  border: 1px solid  #d36a07dc;
}
#btn-login,#btn-resgistrarse{
  border-radius: 10px;
    width: 40%;
    max-width: 350px;
    height: 30px;
    font-size: 16px;
    margin-top: 10px;
    color: black;
    background-color: #E08A08;
    text-align: center;
    border: #e9912c;

}

.title-login h1{
  align-items: center;
  text-align: center;
  font-size: 30px;
}

/* Div del boton de registro*/
.contenedor-form .registro-google {
  /*background-image: url(img/google.png);*/
  width: 250px;
  padding: 5px;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

footer {
  background: #f1efef;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to right, #e9912c 0%, #feed00de 100%);

}
footer p {
  /*border-bottom: 3px solid #af20d3;*/
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #080808;
}
@media screen and (max-width:375px){

  header{
    width: 100% ;   
  flex-direction: column;
  max-width: 375px; 
  justify-content: center;
  align-items: center;
  }
  .menu-header{
    width: 100% ;   
    max-width: 375px;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
    
  }

  .contenedor-template {
  width: 100% ; 
  max-width: 375px;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  .contenedor-registro{
    width: 100% ; 
  max-width: 375px; 
}
  .contenedor-form{
    width: 100% ; 
    max-width: 375px;    
  flex-direction: column;
  justify-content: center;
  align-items: center;

  }
  .form-login{
    width: 100% ;   
    max-width: 375px;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


footer{
  width: 100% ; 
  max-width: 375px;    
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}

@media screen and (max-width:600px){

  header{
    width: 100% ;   
    max-width: 600px;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  .contenedor-template {
    width: 100% ; 
    max-width: 600px;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .contenedor-registro{
      width: 100% ; 
      max-width: 600px;  
    }

footer{
  width: 100% ;   
  max-width: 600px;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}

@media screen and (max-width:900px){

  header{
    width: 100% ;   
    max-width: 900px; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .contenedor-template {
    width: 100% ; 
    max-width: 900px;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .contenedor-registro{
      width: 100% ; 
      max-width: 900px;  
    }
footer{
  width: 100% ; 
  max-width: 900px;   
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}